@charset "utf-8";

/* NotoSansKR */
@font-face {
    font-family: 'NotoT';
	font-style: normal;
	font-weight: 100;
    src: url(../font/NotoSansKR/NotoSansKR-Thin.eot),
    	 url(../font/NotoSansKR/NotoSansKR-Thin.woff2) format('woff2'),
		 url(../font/NotoSansKR/NotoSansKR-Thin.woff) format('woff'),
		 url(../font/NotoSansKR/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
    font-family: 'NotoL';
	font-style: normal;
	font-weight: 300;
    src: url(../font/NotoSansKR/NotoSansKR-Light.eot),
    	 url(../font/NotoSansKR/NotoSansKR-Light.woff2) format('woff2'),
		 url(../font/NotoSansKR/NotoSansKR-Light.woff) format('woff'),
		 url(../font/NotoSansKR/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
    font-family: 'NotoR';
	font-style: normal;
	font-weight: 400;
    src: url(../font/NotoSansKR/NotoSansKR-Regular.eot),
    	 url(../font/NotoSansKR/NotoSansKR-Regular.woff2) format('woff2'),
		 url(../font/NotoSansKR/NotoSansKR-Regular.woff) format('woff'),
		 url(../font/NotoSansKR/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'NotoM';
	font-style: normal;
	font-weight: 500;
    src: url(../font/NotoSansKR/NotoSansKR-Medium.eot),
    	 url(../font/NotoSansKR/NotoSansKR-Medium.woff2) format('woff2'),
		 url(../font/NotoSansKR/NotoSansKR-Medium.woff) format('woff'),
		 url(../font/NotoSansKR/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'NotoB';
	font-style: normal;
	font-weight: 700;
    src: url(../font/NotoSansKR/NotoSansKR-Bold.eot),
    	 url(../font/NotoSansKR/NotoSansKR-Bold.woff2) format('woff2'),
		 url(../font/NotoSansKR/NotoSansKR-Bold.woff) format('woff'),
		 url(../font/NotoSansKR/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'NotoBK';
	font-style: normal;
	font-weight: 900;
    src: url(../font/NotoSansKR/NotoSansKR-Black.eot),
    	 url(../font/NotoSansKR/NotoSansKR-Black.woff2) format('woff2'),
		 url(../font/NotoSansKR/NotoSansKR-Black.woff) format('woff'),
		 url(../font/NotoSansKR/NotoSansKR-Black.otf) format('opentype');
}

	
/* Malgun Gothic */
.malgun {font-family: "���� ����", Malgun Gothic !important;}

/* Dotum */
.dotum {font-family: "����", Dotum !important;}

/* NotoSansKR */
.NotoT {font-family:"NotoT" !important;}
.NotoL {font-family:"NotoL" !important;}
.NotoDL {font-family:"NotoDL" !important;}
.NotoR {font-family:"NotoR" !important;}
.NotoM {font-family:"NotoM" !important;}
.NotoB {font-family:"NotoB" !important;}
.NotoBK {font-family:"NotoBK" !important;}

/* Roboto */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('../font/roboto/Roboto-Light.woff2') format('woff2'),
		 url('../font/roboto/Roboto-Light.woff') format('woff'),
		 url('../font/roboto/Roboto-Light.otf') format('opentype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../font/roboto/Roboto-Regular.woff2') format('woff2'),
		 url('../font/roboto/Roboto-Regular.woff') format('woff'),
		 url('../font/roboto/Roboto-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../font/roboto/Roboto-Medium.woff2') format('woff2'),
		 url('../font/roboto/Roboto-Medium.woff') format('woff'),
		 url('../font/roboto/Roboto-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../font/roboto/Roboto-Bold.woff2') format('woff2'),
		 url('../font/roboto/Roboto-Bold.woff') format('woff'),
		 url('../font/roboto/Roboto-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: url('../font/roboto/Roboto-Black.woff2') format('woff2'),
		 url('../font/roboto/Roboto-Black.woff') format('woff'),
		 url('../font/roboto/Roboto-Black.otf') format('opentype');
}

/* SCoreDream */
@font-face {
    font-family: 'SCoreDream';
    font-weight: 600;
    font-style: normal;
    src: url('../font/SCoreDream/SCoreDream6.woff2') format('woff2'),
         url('../font/SCoreDream/SCoreDream6.woff') format('woff'),
         url('../font/SCoreDream/SCDream6.otf') format('opentype');
}
