@charset "utf-8";
/* CSS Document */


#top {width:900px;
	    margin:0 auto;}
#logo_login{ 
	             position:relative;
	             width:900px;
				 font:
	             }
#login {position:absolute;
	     top:10px;
	     right:20px;
		 font-size:12px;
		 }


#logo{margin:20px auto;}

#top_menu {font-size:16pt;
	              height:45px;
				  background-color:#f0742a;
				  margin:auto;}

#top_menu a{color:#ffffff;
                   text-decoration:none;}
				  
#top_menu ul{
					margin:auto;
					padding-top:6pt;
					text-align:center;
					color:#ffffff;
					}
				  
#top_menu li{display:inline;
				   margin:0 60px;}
				   
#main_banner{text-align:center;}

#img1{text-align:center;
          margin:15px;}

#img2{text-align:center;
          margin:15px;
		  background-image:url(../img/before_b.jpg);
     	  background-position:center;
          }

#footer{
           height:130px;
           background-color:#f1f1f2;
		   margin:auto;
		   }

#footer_i{    width: 900px; margin:20px auto;
    padding-top: 28px;
			 text-align:center;
			 }