@charset "utf-8";
/* CSS Document */



.menubar{
	font:100% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:17px;
	font-weight:bold;
    width:100%;
	}

.menubar ul{
    			height:40px;
				list-style:none;
				margin:0px;
				padding:0;
				}
	
.menubar li{
	float:left;
	padding:0 33px;
	}

.menubar li a{
	background:#f0742a;
	color:#ffffff;
	display:block;
	font-weight:normal;
	line-height:40px;
	margin:0px;
	padding:0px 30px;
	text-align:center;
	text-decoration:none;}

.menubar li a:hover, 
.menubar ul li:hover a{
	background: #666;
	color:#FFFFFF;
	text-decoration:none;
	}

.menubar li ul{
	background:#f0742a;
	display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:auto;
	z-index:auto;
	/*top:1em;
	/*left:0;*/
	}

.menubar li:hover ul{
	display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
	}

.menubar li li {
	background:#666;
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:170px;
	}

.menubar li:hover li a{
	background:none;
	}

.menubar li ul a{
	display:block;
	height:40px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
	}

.menubar li ul a:hover, .menubar li ul li:hover a{
	background:#999;
	border:0px;
	color:#ffffff;
	text-decoration:none;
	}

.menubar p{clear:left;}


